@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');


body{ background-image: url("woodsssss.jpg");
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-size: 2000px;
    font-family: "Carrois Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;}

.main{width:300px;margin:0 auto;
background:rgb(245, 252, 255); padding:15px;}
img{width:300px;
}
p{
color:#262626;
background: rgb(245, 252, 255);
padding:5px;
font-size: .8em;}

button{margin:5px;
padding:25px;
font-size: .8em;
background:#f9faef;
}